.registration-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.card {
    width: 40%;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.card-header {

    position: relative;
}

.card-header img {
    width: 120px;

}

.card-body {
    text-align: center;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: -3.5rem;
    margin-bottom: 0.5rem;
}

.card-body p {
    font-size: 14px;
    width: 100%;

}

.card-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

.plan h2 {
    font-size: 40px;
    font-weight: bold;


    text-align: center;
    width: 100%;
}

.plan button {
    margin-bottom: 30px;
}

.adress{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.adress h2 {
    margin-top: -2rem;

}

.adress button {
    margin-bottom: 20px;
}

.adress input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #6b6868;
    border-radius: 0 !important;
    outline: none;
    width: 100%
}


.card-body input[type="text"]::placeholder {
    color: rgb(66, 66, 66);
}

.card-body button {
    padding: 10px 20px;
    background-color: #000093;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[type="radio"] {
    display: none;


}

.radio-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 10px;
}

input[type="radio"]:checked+.radio-label {
    background-color: #000093;
    color: #fff;

}