.recharge-container {
    display: flex;
    padding: 20px 150px 20px 150px;
    font-family: 'Poppins', sans-serif;
  }
  
  .recharge-left-section {
    flex: 1;
    padding: 20px;
  }
  .input-field {
    font-size: 16px; /* Change the font size as desired */
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
  }
  .recharge-right-section {
    flex: 2;
    padding: 20px;
  }
  
  .recharge-card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
  }
  .recharge-card-content {
    display: flex;
    flex-direction: column;
  }
  .recharge-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }
  .edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .plan-categories {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    
  }
  
  .plan-categories p {
  
  border-bottom: 1.5px solid #ccc;
  padding: 1.5rem 0 .5rem 0;
  margin: 0;
  
  }
  .recharge-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .recharge-card li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }
  
  
  .recharge-card li p {
    margin: 0;
  }
  
  .recharge-card li p:first-child {
    font-weight: bold;
  }
  .recharge-plans-list li {
    display: flex;
    justify-content: space-between;
  }
  .plan-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .plan-item p {
    margin: 5px 0;
  }
  .buy-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 1.3rem;
    cursor: pointer; 
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 1rem;
  }
   
  .buy-button:hover {
    background-color: #0056b3;
  }
  .view-details{
    margin-right: 1rem;
    margin-top: 1.5rem;
  }